%\documentclass[letterpaper]{dapper-invoice}
\documentclass[letterpaper,currency=dollar]{dapper-invoice}
%\documentclass[letterpaper,currency=euro]{dapper-invoice}
%\documentclass[letterpaper,currency=pound]{dapper-invoice}

\newcommand{\invoiceNo}{${invoice_num}}

\newcommand{\me}{Alok~G~Singh}
\newcommand{\clientName}{Tyk~Technologies~Ltd}

\setmetadata{\me}{}{\invoiceNo}{\clientName}

\defaultfontfeatures{ Path = ./Fonts/ }
\usepackage{fontawesome}

\begin{document}

\newfontface\mainLightItalic{OpenSans-LightItalic}
\makeheader{\me\\\small Consultant}{\invoiceNo}

\twocolumnlayout{
    \begin{infoSection}
        \infoBox{Client}{\clientName \\
          31 Charlotte Road \\
          London \\
          EC2A 3PB}
        \infoBox{Contact}{Rachna Karwasra}
        \infoSub{\faMobilePhone}{\small\slshape +44~20~3409~1911}
        \infoSub{\tiny\faEnvelope}{\small\slshape \emaillink{rachna@tyk.io}}
    \end{infoSection}
}{
    \begin{infoSection}
        \infoBox{\arrowtarget Payable To}{
          \me \\
          133/1 Residency Road \\
          Bangalore 560 025 \\
          INDIA
        }
        \infoSub{\faMobilePhone}{\small\slshape +91~98866~39360}
        \infoSub{\tiny\faEnvelope}{\small\slshape \emaillink{alok@tyk.io}}
    \end{infoSection}
}

\addvspace{4ex}

\begin{monthsItemization}

    \lineitemm{${month}}{1.0}{6250}{\item Software development}

    \beginsummary

    \summaryline{Total Due}{\currencysym\formatcurrency{\InvoiceTotal}}

\end{monthsItemization}

\end{document}
